DATABASE_URL= [postgresql database url]

JWT_ACCESS_SECRET=[generated 64 hex char secret]
JWT_REFRESH_SECRET=[generated 64 hex char secret]

CSRF_SECRET=[generated 64 hex char secret]

NODE_ENV=[development or production]

AMADEUS_CLIENT_ID=[amadeus_client_id]
AMADEUS_SERVICE_SECRET=[amadeus_secret]

USE_MOCK=[true or false, to use mock data if amadeus is not working]

STRIPE_SECRET_KEY=[stripe secret api key]
STRIPE_WEBHOOK_SECRET=[stripe webhook secret]

FRONTEND_URL=[url where frontend is hosted]

SENTRY_DSN=[Sentry DSN url]